*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {  width: 100%; }

.wrapper{
  max-width: 1366px;
  width: 86%;
  margin: 0 auto;
}

:root{
  --primary-color:#096ab3;
  --secondary-color:#17050f;
  --blogHeading:#645e5e;
  --white:#fff;
}

/* header style start here */
header .wrapper {
   max-width: unset; 
   width: 100%;
}

.nav-list {
  padding: 25px 0;
  border-bottom: 1px dotted #777;
  display: flex;
  justify-content: space-around;
}

.list-item {
  cursor: pointer;

}

.nav-link {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
/* header style end here */


/* blog style start her */
.heading {
  padding: 30px 0 10px;
  color: var(--primary-color);
  text-align: center;
}

.blog-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-item {
  margin: 10px 0 20px;
  flex-basis: 30%;
}

.blog-item img {
  border-radius: 12px;
  object-fit: cover;
}

.subheading {
  margin-bottom: 15px; 
  color: var(--blogHeading);
  text-align: center;
}

.btn {
  margin: 35px 0;
  text-align: center;
}

.link-btn {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white);
  transition: all .3s ease-in-out;
}

.link-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
}
/* blog style end her */


/* footer styling start here */
footer {
  padding: 40px 0;
  background-color: #1c1c1c;
  color: var(--white);
}

.social-list {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.social-item {
  margin-left: 3%;
}

.social-item:nth-child(1) {
  margin: 0;
}

.icon {
  display: block;
  text-indent: -9999px;
}

.icon::before{
  float: left;
  color: var(--white);
  font-family: "FontAwesome";
  font-size: 25px;
  text-indent: 0;
  transition: all .3s ease-in-out;
}

.facebook::before { content: "\f39e"; }
.twitter::before { content: "\f099"; }
.instagram::before { content: "\f16d"; }
.linkedin::before { content:  "\f08c"; }

.icon:hover::before {
  color: var(--primary-color);
}

.copy {
  padding: 20px 0 0;
  text-align: center;
}
/* footer styling end here */