{# header start here #}
<header>
  <div class="wrapper">
 <nav class="navbar">
  <ul class="nav-list">
    <li class="list-item">
      <a href="/" class="nav-link {{ 'active' if '' in page.url }}" title="Home">Home</a>
    </li>
    <li class="list-item">
          <a href="/archive/" class="nav-link {{ 'active' if '/archive/' in page.url }}" title="Archive">Archive</a>
    </li>
    <li class="list-item">
          <a href="/about/" class="nav-link {{ 'active' if '/about/' in page.url }}" title="About">About</a>
    </li>
  </ul>
 </nav>
 </div>
 </header>
 {# header end here #}